:root {
    --bg-grey: #ebebeb;
    --bdr-grey: grey;
    --bg-blue: #ccd9e7;
    --bdr-blue: blue;
    --hover-color-grey: rgb(231, 228, 228);
    --margin-unit: 4px;
    --padding-unit: 4px;
    --width-unit: 5px;
    --height-unit: 5px;
    --brdr-radius-unit: 4px;
    --bdr-input-rd: 4px;
}

@media (max-width: 768px) {
    :root {
        --margin-unit: 3px;
        --padding-unit: 3px;
        --width-unit: 4px;
        --height-unit: 4px;
    }
}

@media (max-width: 576px) {
    :root {
        --margin-unit: 3px;
        --padding-unit: 3px;
        --width-unit: 3px;
        --height-unit: 3px;
    }
}
body{
    font-family: sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-veritcal {
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.pos-abs {
    position: absolute;
}
.pos-rel {
    position: relative;
}

.bg-white {
    background-color: white;
}

.brdr-rad-1 {
    border-radius: var(--brdr-radius-unit);
}
.brdr-rad-2 {
    border-radius: calc(var(--brdr-radius-unit) * 2);
}

.margin-box .padding-box .input:focus {
    border: 2px solid var(--bdr-blue);
}

.margin-box .input:focus {
    border: 2px solid var(--bdr-blue);
    border-radius: var(--bdr-input-rd);
    outline: none;
}

.no-bg-bdr {
    background: transparent;
    border: none;
    padding: 0;
}
.text-cap {
    text-transform: uppercase;
}
[disabled] {
    cursor: not-allowed !important;
}
